@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Manrope:wght@400;500;600;700;800&family=Roboto:wght@300;400;500;700;900&display=swap');


    /* common color palate */

    :root {
        --primary-color: #E02C6D;
        --text-gray-color: #18191F;
        --dark-color: rgba(0, 0, 0, 0.87);
        --gray80-color: #5E6366;
        --gray50-color: #787885;
        --white-primary: #FFF;
        --header-color: #3A3A3A;
    }


    /* default body style */

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}




.container {
    width: 85%;
    max-width: 1440px;
    margin: 0 auto;
}


    /* header section style */



.header {
    display: flex;
    justify-content: space-between;
    margin-top: 88px;
    align-items: center;
}



nav ul{
    list-style: none;
    display: flex;
}

nav ul li{
    padding-left: 35px;
}

.logo{
    color: var(--header-color);
    font-family: 'Poppins';
    font-size: 24px;
    font-weight: 700;
}


nav ul li a{
    text-decoration: none;
    color: var(--header-color);
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 600;
}


    /* main section style */

.main-container {
    background-image: url('images/Circle\ design.svg');
    background-repeat: no-repeat;
    background-position: right;
    
}

.main-container {
    margin-top: 90px;
}

.main-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-content {
    width: 582px;
}


.main-text {
    color: #3A3A3A;
    font-family: 'Poppins';
    font-size: 52px;
    font-weight: 700;
}


.main-description {
    color: var(--header-color);
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 20px;
}

.btn-primary {
    color: var(--white-primary);
    background-color: var(--primary-color);
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 700;
    border: none;
    padding: 10px 26px;
    border-radius: 40px;
    cursor: pointer;
}



.main-sponsor {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    align-items: center;
    padding-left: 70px;
    padding-right: 70px;
    justify-content: center;
    margin-top: 120px;
    border-bottom: 2px solid #f3f3f3;
    border-top: 2px solid #f3f3f3;
    padding-top: 20px;
    padding-bottom: 20px;
}






